.Content {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60vw;
  height: 92vh;
  max-height: 92vh;
  padding: 2vw;

  p {
    text-align: justify;
  }

  button {
    width: 60px;
    height: 40px;
  }

  .Gender {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 55px;
    line-height: 1.4;
    text-align: center;
    margin: 12px;
    transition: 1s;
  }

  .Gender:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}