.Header {
  display: flex;
  z-index: 150;
  align-items: center;
  width: 50%;
  background-color: rgb(65, 65, 65);
  height: 8vh;
  border-bottom: 1px solid black;
  user-select: none;

  img {
    height: 100%;
  }
}