.Header {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: rgb(65, 65, 65);
  height: 8vh;
  border-bottom: 1px solid black;

  h1 {
    padding-left: 1vw;
    color: black;
  }

  img {
    height: 100%;
  }
}