.Nav {
  display: flex;
  z-index: 150;
  width: 50%;
  height: 8vh;
  background-color: rgb(65, 65, 65);
  overflow: hidden;
  text-align: center;
  align-items: flex-end;
  justify-content: right;
  padding-right: 2vw;
  border-bottom: 1px solid black;

  ul {
    display: inline-block;

    li {
      float: left;
      padding: 14px 16px;
      text-decoration: none;
      font-size: calc(7px + 2vmin);
      list-style: none;

      a {
        text-decoration: none;
        color: #f2f2f2;
        text-align: center;
      }
    }

    li:hover {
      background-color: rgb(109, 109, 109);
    }
  }

  .Github {
    font-size: calc(12px + 2vmin);
    line-height: 0.5;
  }
}