.Nav {
  display: flex;
  width: 50%;
  max-height: 10vh;
  background-color: rgb(53, 53, 53);
  overflow: hidden;
  text-align: center;
  align-items: center;
  justify-content: right;
  padding-right: 2vw;

  ul {
    display: inline-block;

    li {
      float: left;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      list-style: none;

      a {
        text-decoration: none;
        color: #f2f2f2;
        text-align: center;
      }
    }

    li:hover {
      background-color: rgb(109, 109, 109);
    }
  }

  .Github {
    font-size: 36px;
    line-height: 0.8;
  }
}