.Content {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 67vw;
  height: 92vh;
  max-height: 92vh;
  padding: 2vw;

  .CharList {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    border: 1px solid black;
    overflow-y: scroll;
    scrollbar-color: #1f1f1f #646464;
    scrollbar-width: 10px;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.7);

    .Character {
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      width: 18%;
      max-height: 50%;
      margin: 0.5vw;
      border: 1px solid black;
      opacity: 0.8;

      img {
        width: 80%;
        height: 80%;

      }
    }

    .Character:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}