.Avatar {
  text-align: center;
  width: 67vw;
  height: 90vh;
  max-height: 90vh;

  .Header {
    margin: 12px;
    padding: 10px;
    text-align: center;
  }

  .Portraits {
    display: flex;
    padding: 8px;
    align-items: center;
    align-content: center;

    div>img {
      padding: 6px;
    }
  }
}