.App {
  position: relative;
  background: linear-gradient(to top, #0e1011 20%, #363a42 90%);
  font-size: calc(7px + 2vmin);
  color: white;
  max-width: 100vw;
  min-height: 100vh;
}

.Menu {
  display: flex;
}