* {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'IM Fell Great Primer SC', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}