.Apply {
  box-shadow: 0px 10px 14px -7px #000000;
  background: linear-gradient(to bottom, #91d171 5%, #6ba64b 100%);
  background-color: #91d171;
  border-radius: 20px;
  border: 1px solid #4b8f29;
  display: inline-block;
  width: calc(100px + 2vmin);
  cursor: pointer;
  color: #ffffff;
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: calc(7px + 2vmin);
  font-weight: bold;
  padding: 8px 14px;
  margin: 4vh;
  text-decoration: none;
  text-shadow: 2px 2px 0px #5b8a3c;
}

.Apply:hover {
  background: linear-gradient(to bottom, #6ba64b 5%, #91d171 100%);
  background-color: #6ba64b;
}

.Apply:active {
  position: relative;
  top: 1px;
}