.Apply {
  box-shadow: 0px 10px 14px -7px #000000;
  background: linear-gradient(to bottom, #fc9700 5%, #c96b00 100%);
  background-color: #fc9700;
  border-radius: 20px;
  border: 1px solid #a37700;
  display: inline-block;
  width: calc(100px + 2vmin);
  cursor: pointer;
  color: #ffffff;
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: calc(7px + 2vmin);
  font-weight: bold;
  padding: 8px 14px;
  margin: 4vh;
  text-decoration: none;
  text-shadow: 1px 2px 1px #834600;
  text-align: center;
}

.Apply:hover {
  background: linear-gradient(to bottom, #c96b00 5%, #fc9700 100%);
  background-color: #c96b00;
}

.Apply:active {
  position: relative;
  top: 1px;
}